
h1
{
    color: blueviolet;
}
#thanh
{
    color: red;
    font-size: 30px;
}
.tha
{
    color: rgb(13, 167, 39);
}
*
{
    color: black;
}
#t
{
    background-color: black;
}
.aa
{
    width: 2000px; height: 300px; background-color: tan;
    text-decoration: dashed;
   
}
.aaa
{
    width: 500px; height: 500; background-color: red;
    width: 300px; height: 300; background-color: black;
}
